<div class="content-wrapper">
<div class="container">
    <table>
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Phone</th>
               <th>BTC</th>
                <th>BCH</th>
                <th>LTC</th>
            </tr>
        </thead>

        <tbody>
            {{#each users}}
            <tr>
                <td>{{first_name}}</td>
                <td>{{last_name}}</td>
                <td>{{email}}</td>
                <td>{{phone}}</td>
                <td>{{#amountInArray wallets 'btc'}}{{/amountInArray}}</td>
                <td>{{#amountInArray wallets 'bch'}}{{/amountInArray}}</td>
                <td>{{#amountInArray wallets 'ltc'}}{{/amountInArray}}</td>
            </tr>
            {{/each}} 
        </tbody>
    </table>
    </div>
</div>