<div class="dash-outer">
    <div class="container">
        <div class="row">
            {{#each wallets}}
            <div class="col l4 m6 s12">
                <div class="media coin-balance">
                    <div class="media-left">
                        <a href="#">
                            <img src="/public/images/{{coin_type}}.png" alt="img" class="media-object" />
                        </a>
                    </div>
                    <div class="media-body">
                        <p class="truncate">{{confirmed_amount}}</p>
                        <p class="truncate">{{coin_type}} balance</p>
                    </div>

                </div>
            </div>
            {{/each}}

            <div class="right vm">
                <a href="/users/receive">
                    <i class="material-icons">account_balance_wallet</i>
                    <span class="view-more">View Wallet Balances</span>
                </a>
            </div>
        </div>
        <div class="dash-main-box">
            <div class="row">
                <div class="col l9 m7 s12">
                    <div class="dash-main-content">
                        <p class="welcome-user">Hello {{session.name}},</p>
                        <ul>
                            <li>You can store your cryptocurrencies here and send them to other wallets. </li>
                            <li>Click on
                                <b class="blue-text">"Send Cryptos"</b> to send cryptocurrencies to other wallet.</li>
                            <li>Click on
                                <b class="blue-text">"Recieve Cryptos"</b> to recieve cryptocurrencies into this wallet.</li>
                            <b>This is a Demo Wallet. It runs on Testnet</b>
                        </ul>

                    </div>
                </div>
                <div class="col l3 m5 s12">
                    <h5>Get Started Here:</h5>
                    <div class="center-align btn-otr">
                        <a href="/users/send" class="btn btn-theme">Send crypto</a>
                        <a href="/users/receive" class="btn btn-theme">Recieve crypto</a>
                    </div>
                </div>
            </div>
            {{!--
            <div class="row">
                <div class="recent-login-info">
                    <p>Recent Login</p>
                    <table class="striped responsive-table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Item Name</th>
                                <th>Item Price</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>Alvin</td>
                                <td>Eclair</td>
                                <td>$0.87</td>
                            </tr>
                            <tr>
                                <td>Alan</td>
                                <td>Jellybean</td>
                                <td>$3.76</td>
                            </tr>
                            <tr>
                                <td>Jonathan</td>
                                <td>Lollipop</td>
                                <td>$7.00</td>
                            </tr>
                        </tbody>
                    </table>
                    <table id="example" class="display" cellspacing="0" </div>
                </div>
            </div> --}}
        </div>
        <!--container-->
    </div>