<style>
  body {
    background: whitesmoke;
  }
</style>
<div class="login-overlay">
  <!--  <div class="logo">
       Node Wallet<br> <span class="smaller">Wallet</span> 
      </div> -->
  <div class="form-container shadow">
    <div class="icon">
      <div class="login-logo-otr">
            {{!-- <a href="/users/dashboard" class="brand-logo">
                
                <img src="/public/images/star.png" width="20">
                <img src="/public/images/bitwallet.png" width="150">
            </a> --}}
        </div>
      {{!--<i class="mdi material-icons">account_circle</i>--}}
      <div class="header">
        Login
      </div>
    </div>
    <div class="inputs">
      <form action="/users/login" method="POST">
        <div class="container-fluid">
          {{#if login_error}}
          <div class="alert alert-fail">
              {{login_error}}
          </div>
          {{/if}} {{#if register_sucesss}}
          <div class="alert alert-success">
              {{register_sucesss}}
          </div>
          {{/if}}

          <div class="row left-align">
            <div class="col s12">
              <label for="email">Email</label>
              <input id="email" name="email" type="email" value="james@bitexchange.systems" class="validate required email">
            </div>
            <div class="col s12">
              <label for="passcode">Password</label>
              <input id="passcode" name="password" type="password" value="pwd123456" class="validate required">
            </div>
            <div class="buttons left-align">
              <span>
                <!-- <input type="checkbox" class="filled-in" id="filled-in-box" checked="checked" />
                    <label for="filled-in-box">Remember me</label> -->
                {{!-- <a href="/users/forgotpassword">Forgot password?</a> --}}
              </span>
              <span class="right">
                <a href="/users/register">Sign up here</a>
                <br/>

              </span>
            </div>
            <div class="center-align">
              <button type="submit" class="waves-effect waves-light btn">Login</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.16.0/jquery.validate.min.js"></script>
<script>
  $('form').validate();
  
</script>